<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <h1>add product</h1>
        <form class="form-inline" action="/product" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="save" class="btn">
        </form>
    </div>
</div>